*{
    box-sizing: border-box;
}
body { 
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe); 
    color: white; 
    text-align: center; 
} 

header {
    text-align: center;
    padding: 5px 20px 15px;
    margin: 0;
    width: 100%;
    background: rgba(0,0,0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
header p {
    font-size: 1.4rem;
}
.form-container { 
    background: white; 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    max-width: 400px; 
    width: 100%; 
    color: black; 
    margin-top: 20px;
} 
h2 {
    margin-bottom: 20px;
}
label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container select {
    margin-bottom: 20px; 
}

button { 
    width: 100%; 
    padding: 12px; 
    background: #4facfe; 
    color: white; 
    border: none; 
    font-size: 1rem;
    cursor: pointer; 
    border-radius: 5px; 
    transition: 0.3s;
} 
button:hover { 
    background: #00c6fb; 
}   

footer {
   margin-top: 20px;
   padding: 5px;
   text-align: center;
   width: 100%;
   background: rgba(0,0,0, 0.2);
}





